<%= form_for @post do |f| %>

<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% if @post.errors.any? %>
    <%= @post.errors.messages[:title][0] %>
    <% end %>
</p>
<p>
	<%= f.label :description %><br>
    <%= f.text_field :description %>
    <% if @post.errors.any? %>
    <%= @post.errors.messages[:description][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>